:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #d8d4ff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.product-filter {
  background: red;
}
.button-navbar {
  background-color: #6c36f1 !important;
}
.button-navbar:hover {
  background: linear-gradient(#6c36f1, #5d24dd);
}
.logout-button {
  background: #6c36f1 !important ;
}
#logout-button:hover {
  background: linear-gradient(#6c36f1, #5d24dd) !important;
}
